<?php
/**
 *  Copyright 2011 Wordnik, Inc.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 *
 * NOTE: This class is auto generated by the swagger code generator program. Do not edit the class manually.
 */

/**
 * source code generated by http://restunited.com using Swagger Codegen
 * for any feedback/issue, please send to feedback{at}restunited.com
 *
 * swagger-codegen: https://github.com/wordnik/swagger-codegen
 */

namespace HackerRank;
 
class CheckerAPI {

	function __construct($apiClient) {
	  $this->apiClient = $apiClient;
	}

  /**
	 * submission
	 *  
   * api_key, string: API key (required)

   * source, string: The source code for a submission (required)

   * lang, int: The language code for the submission. Ex: 5 (Python) (required)

   * testcases, string: A JSON list of strings, each being a test case. (required)

   * format, string: JSON or XML (required)

   * callback_url, string: A callback url, on which the submission response will be posted as a JSON string under `data` parameter. (optional)

   * wait, string: true means the response is sent only after the submission is compiled and run. false means the request returns immediately and submission response will posted through the callback URL. (optional)

   * @return Submission
	 */

   public function submission($api_key, $source, $lang, $testcases, $format, $callback_url=null, $wait=null) {

  		//parse inputs
  		$resourcePath = "/checker/submission.json";
  		$resourcePath = str_replace("{format}", "json", $resourcePath);
  		$method = "POST";
      $queryParams = array();
      $headerParams = array();
      $headerParams['Accept'] = 'application/json';
      $headerParams['Content-Type'] = 'application/x-www-form-urlencoded';

      //make the API Call
      if (! isset($body)) {
        $body = null;
      }

      //HACK: form parameter
      $has_fields = False;
      $formParameters = array();
      $has_fields = True;
      $formParameters["api_key"] = $api_key;
      $has_fields = True;
      $formParameters["source"] = $source;
      $has_fields = True;
      $formParameters["lang"] = $lang;
      $has_fields = True;
      $formParameters["testcases"] = $testcases;
      $has_fields = True;
      $formParameters["format"] = $format;
      $has_fields = True;
      $formParameters["callback_url"] = $callback_url;
      $has_fields = True;
      $formParameters["wait"] = $wait;
      if ($has_fields) {
        $body = http_build_query($formParameters);
      }

  		$response = $this->apiClient->callAPI($resourcePath, $method,
  		                                      $queryParams, $body,
  		                                      $headerParams);


      if(! $response){
          return null;
        }

  		$responseObject = $this->apiClient->deserialize($response,
  		                                                'Submission');
  		return $responseObject;

      }
  /**
	 * languages
	 *  
   * @return LanguageResponse
	 */

   public function languages() {

  		//parse inputs
  		$resourcePath = "/checker/languages.json";
  		$resourcePath = str_replace("{format}", "json", $resourcePath);
  		$method = "GET";
      $queryParams = array();
      $headerParams = array();
      $headerParams['Accept'] = 'application/json';
      $headerParams['Content-Type'] = 'application/x-www-form-urlencoded';

      //make the API Call
      if (! isset($body)) {
        $body = null;
      }

      //HACK: form parameter
      $has_fields = False;
      $formParameters = array();
      if ($has_fields) {
        $body = http_build_query($formParameters);
      }

  		$response = $this->apiClient->callAPI($resourcePath, $method,
  		                                      $queryParams, $body,
  		                                      $headerParams);


      if(! $response){
          return null;
        }

  		$responseObject = $this->apiClient->deserialize($response,
  		                                                'LanguageResponse');
  		return $responseObject;

      }
  

}

